{% extends "base.html" %} 
{% load crispy_forms_tags %}

{% block content %}
    <div class="container p-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10 mt-3 pblue rounded-3 p-3">
                <h1 class="text-warning fs-4">Add Job</h1>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'user' and field.name != 'slug' and field.name != 'is_dream_job' and field.name != 'match_percentage' %}
                            <div class="row">
                                <div class="col">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field | as_crispy_field }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <!-- Hidden inputs for required fields with default values -->
                    <input type="hidden" name="slug" value="new-job">
                    <input type="hidden" name="is_dream_job" value="False">
                    <input type="hidden" name="match_percentage" value="0">
                    <input type="hidden" name="user" value="{{ request.user.id }}">
                    <a class="btn btn-secondary" href="{% url 'home' %}" aria-label="Cancel">Cancel</a>
                    <input class="btn btn-dark" type="submit" value="Add" aria-label="Add Job">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
