{% extends "base.html" %}

{% block content %}
<!-- index.html content starts here -->
<div class="container-xxl">
    <div>
        <h1 class="invisible">Dream Job chart</h1>
        <!-- Header Row -->
        <div class="container-fluid ">
            <div class="job-info text-danger rounded-pill row t thdr">
                <div class="col"><p>Status</p></div>
                <div class="col"><p>Job</p></div>
                <div class="col"><p>Employer</p></div>
                <div class="col"><p>Pay</p></div>
                <div class="col d-none d-sm-block"><p>Work %</p></div>
                <div class="col d-none d-sm-block"><p>Duty</p></div>
                <div class="col d-none d-md-block"><p>Commute</p></div>
                <div class="col d-none d-md-block"><p>Office Days</p></div>
                <div class="col d-none d-md-block"><p>Holidays</p></div>
                <div class="col d-none d-lg-block"><p>Schedule</p></div>
                <div class="col d-none d-lg-block"><p>Start Time</p></div>
                <div class="col d-none d-lg-block"><p>Company Size</p></div>
                <div class="col d-none d-lg-block"><p>Bring Pet</p></div>
                <div class="col d-none d-xl-block"><p>Own Computer</p></div>
                <div class="col d-none d-xl-block"><p>Office Type</p></div>
                <div class="col d-none d-xl-block"><p>Pet Care</p></div>
                <div class="col d-none d-xl-block"><p>Child Care</p></div>
                <div class="col d-none d-xl-block"><p>Freelance</p></div>
                <div class="col">
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
            </div>
        </div>
        <!-- Data Rows -->
        <div class="container-fluid">
            {% for job in object_list %}
            <div class="job-info pblue rounded-pill row d-flex trow">
                <div class="col"><p>{{ job.get_status_display }}</p></div>
                <div class="col"><p><strong>{{ job.job_to_apply }}</strong></p></div>
                <div class="col"><p><strong>{{ job.employer }}</strong></p></div>
                <div class="col"><p>{{ job.pay }}</p></div>
                <div class="col d-none d-sm-block"><p>{{ job.full_time_percentage }}</p></div>
                <div class="col d-none d-sm-block"><p>{{ job.get_responsibility_display }}</p></div>
                <div class="col d-none d-md-block"><p>{{ job.commute_time }}</p></div>
                <div class="col d-none d-md-block"><p>{{ job.get_office_days_display }}</p></div>
                <div class="col d-none d-md-block"><p>{{ job.holiday_days }}</p></div>
                <div class="col d-none d-lg-block"><p>{{ job.get_schedule_type_display }}</p></div>
                <div class="col d-none d-lg-block"><p>{{ job.get_starting_time_display }}</p></div>
                <div class="col d-none d-lg-block"><p>{{ job.get_company_size_display }}</p></div>
                <div class="col d-none d-lg-block"><p>{{ job.get_bring_pet_display }}</p></div>
                <div class="col d-none d-xl-block"><p>{{ job.get_own_computer_display }}</p></div>
                <div class="col d-none d-xl-block "><p>{{ job.get_office_type_display }}</p></div>
                <div class="col d-none d-xl-block"><p>{{ job.get_pet_sitter_display }}</p></div>
                <div class="col d-none d-xl-block"><p>{{ job.get_child_care_display }}</p></div>
                <div class="col d-none d-xl-block"><p>{{ job.get_freelance_hire_display }}</p></div>
                <div class="col">
                    <p><a href="'edit_job' job.slug" class="btn rounded-pill btn-dark btn-sm">Edit</a></p>
                </div>
                <div>
                    <p><a href="'delete_job' job.slug" class="btn rounded-pill btn-dark btn-sm">Delete</a></p>
                </div>
            </div>
            {% if forloop.counter|divisibleby:10 %}
            </div>
            <div class="col-md-12">
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    
    <!-- Buttons for Dream Job Chart -->
    <div class="container-xl mt-4">
        <div class="row justify-content-center">
            {% if is_paginated %}
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>

</div>


<!-- index.html content ends here -->
{% endblock %}