{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    
    <div>
        <h1 class="invisible">Dream Job chart</h1>
        <!-- Header Row -->
        <div class="container-fluid">
            <div class="title-job-info text-danger row">
                <div class="mx-auto col d-none d-sm-block">Status</div>
                <div class="mx-auto col-lg-1 col-md-2 col-3">Job</div>
                <div class="mx-auto col">Pay</div>
                <div class="mx-auto col d-none d-sm-block">FT %</div>
                <div class="mx-auto col d-none d-md-block">Responsibility</div>
                <div class="mx-auto col d-none d-md-block">Commute</div>
                <div class="mx-auto col d-none d-lg-block">Office Days</div>
                <div class="mx-auto col d-none d-lg-block">Holidays</div>
                <div class="mx-auto col d-none d-lg-block">Schedule</div>
                <div class="mx-auto col d-none d-lg-block">Start Time</div>
                <div class="mx-auto col d-none d-xl-block">Company Size</div>
                <div class="mx-auto col d-none d-xl-block">Own Computer</div>
                <div class="mx-auto col d-none d-xl-block">Office Type</div>
                <div class="mx-auto col d-none d-xl-block">Child Care</div>
                <div class="mx-auto col d-none d-xl-block">Freelance</div>
                <div class="pad-right mx-auto col">Edit</div>
                <div class="pad-right mx-auto col">Delete</div>
            </div>
        </div>
        <!-- Data Rows -->
        <div class="container-fluid">
            {% for job in object_list %}
            <div class="job-info bg-info row">
                <div class="mx-auto col d-none d-sm-block">{{ job.get_status_display }}</div>
                <div class="mx-auto col-lg-1 col-md-2 col-3"><strong>{{ job.job_to_apply }}</strong></div>
                <div class="mx-auto col">{{ job.pay }}</div>
                <div class="mx-auto col d-none d-sm-block">{{ job.full_time_percentage }}</div>
                <div class="mx-auto col d-none d-md-block">{{ job.get_responsibility_display }}</div>
                <div class="mx-auto col d-none d-md-block">{{ job.commute_time }}</div>
                <div class="mx-auto col d-none d-lg-block">{{ job.get_office_days_display }}</div>
                <div class="mx-auto col d-none d-lg-block">{{ job.holiday_days }}</div>
                <div class="mx-auto col d-none d-lg-block">{{ job.get_schedule_type_display }}</div>
                <div class="mx-auto col d-none d-lg-block">{{ job.get_starting_time_display }}</div>
                <div class="mx-auto col d-none d-xl-block">{{ job.get_company_size_display }}</div>
                <div class="mx-auto col d-none d-xl-block">{{ job.get_own_computer_display }}</div>
                <div class="mx-auto col d-none d-xl-block">{{ job.get_office_type_display }}</div>
                <div class="mx-auto col d-none d-xl-block">{{ job.get_child_care_display }}</div>
                <div class="mx-auto col d-none d-xl-block">{{ job.get_freelance_hire_display }}</div>
                <div class="col"><a href="{% url 'edit_job' job.slug %}" class="btn btn-dark">Edit</a></div>
                <div class="col"><a href="{% url 'delete_job' job.slug %}" class="btn btn-dark">Delete</a></div>
            </div>
            {% if forloop.counter|divisibleby:15 %}
        </div>
        <div class="col-md-12">
            {% endif %}
            {% endfor %}
        </div>
    </div>
    
    <!-- Buttons for Dream Job Chart -->
    <div class="row text-center chart-nav">
        <div class="col-md-4 col-sm-8">
            <button class="btn btn-dark dropdown-toggle col-sm" type="button" id="perPageDropdown"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Per Page
            </button>
            <div class="dropdown-menu" aria-labelledby="perPageDropdown">
                <a class="dropdown-item" href="?per_page=5">10</a>
                <a class="dropdown-item" href="?per_page=10">15</a>
                <a class="dropdown-item" href="?per_page=20">20</a>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <a href="{% url 'add_job' %}" class="btn btn-dark col-sm">Add Job</a>
        </div>
        <div class="col-md-4 text-center">
            <a href="{% url 'edit_dream_job' %}" class="btn btn-dark col-sm">Edit Dream Job</a>
        </div>
    </div>

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}