{% extends "base.html" %} 

{% block content %}
    <div class="container p-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10 mt-3 pblue rounded-3 p-3">
                <h1 class="text-warning">Instructions:</h1>
                <p><strong>Job it.</strong> is a web application that helps you to keep track of your job applications and to compare them with your dream job criteria.</p>
                <p>Edit your dream job criteria and add your job applications to see how they match your dream job.</p>
                <p>Click on the "Add Job" button to add a new jobs you intend to apply.</p>
                <p>Job it. will calculate the match percentage of each job application with your dream job criteria and rank them accordingly so that you can focus on the job applications that are closer to your dreams..</p>
            </div>
        </div>
    </div>
{% endblock %}