body {
    background-color: #6610f2;
}

.pblue {
    background-color: rgb(0, 162, 255);
}

.brand {
    font-size: 3rem;
}

/* table custom CSS*/
.row>div {
    width: 5%;
}

/* small columns */
.s {
    width: 2%;
}

/* Job chart */
.job-info>div>* {
    /* centering content */
    display: flex;
    justify-content: center;
    align-items: center;


    /* diagonal content */
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    transform: rotate(-25deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865482, M12=0.7071067811865466, M21=-0.7071067811865466, M22=0.7071067811865482, SizingMethod='auto expand')";
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865482, M12=0.7071067811865466, M21=-0.7071067811865466, M22=0.7071067811865482, SizingMethod='auto expand');
}

.job-info {
    padding: 1.5rem 1.8rem 0.5rem 1.8rem;
    margin-top: 1.5rem;
}

.trow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    white-space: nowrap;
}

.thdr {
    font-weight: bold;
    padding-bottom: 0rem;
}

.thdr>div>p {
    text-shadow: 
    -1px -1px 1rem #4105a1,  
     1px -1px 1rem #4105a1,
    -1px  1px 1rem #4105a1,
     1px  1px 1rem #4105a1;
}

/* Job chart buttons */
/* Delete button */
/* .del {
    transform: translateX(0.5rem);
}

/* Edit button */
    /* .edt {
    transform: translateX(-0.5rem);
} */